.jumbotron{
	border-radius : 0px !important
}

.background-primary{
	background-color : #2196f3 !important;	
}
.banner-background {
  clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 94%, 73% 100%, 34% 95%, 0 100%, 0 0);
}